@import "./styles/colors";

.header {
	display: flex;
	justify-content: center;
	padding: 1rem;
	background-color: $green-300;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
}
