@import "../../styles/colors";

.addButton {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 46rem;
	max-width: 90%;

	input {
		flex: 1;
		padding: 1rem;
		border-radius: 8px;
		border: 1px solid $green-100;
		outline: 1px solid transparent;
		transition: outline 200ms;

		&:focus {
			outline: 2px solid $green-300;
		}
	}

	span {
		display: flex;
		gap: 0.5rem;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3.5rem;
			aspect-ratio: 1/1;
			color: $white;
			background-color: $green-500;
			border: none;
			border-radius: 8px;
			transition: 200ms;

			&:hover {
				background-color: $green-300;
			}

			svg {
				font-size: x-large;
			}
		}
	}
}
